@model ExamenTeCAS.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h4>Agregar Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apaterno" class="control-label"></label>
                <input asp-for="Apaterno" class="form-control" />
                <span asp-validation-for="Apaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amaterno" class="control-label"></label>
                <input asp-for="Amaterno" class="form-control" />
                <span asp-validation-for="Amaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
